nav a {
    font-size: 0.9em;
    font-weight: 500;
}
@media screen and (max-width: 480px) {
    .nav .nav-item {
        padding: 0.8rem 0.5rem;
        font-size: 84%;
    }
}

header {
    border-radius: 1rem;
    height: 90vh;
    background: #f7fafc;
}

header h1 {
    font-size: 3.5em;
    font-weight: 300;
    margin: 0;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
}

footer p {
    font-size: 0.9em;
    font-weight: 400;    
}

footer p span {
    color: red;
    font-size: 1.2em;    
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7fafc;
    min-height: 20rem;
    border-radius: 1rem;
}

.title h1 {
    font-weight: 300;
}

.colCard {
    display: block;
    width: 100%;
    line-height: 2.5em;
    border-radius: 0.25rem;
    color: #EBF4FF;
    background: #434190;
    text-align: center;
}