nav a {
    font-size: 0.9em;
    font-weight: 500;
}
@media screen and (max-width: 480px) {
    .nav .nav-item {
        padding: 0.8rem 0.5rem;
        font-size: 84%;
    }
}

header {
    height: 90vh;
    background: #f7fafc;
}

header h1 {
    font-size: 3.5em;
    font-weight: 300;
    margin: 0;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
}

footer p {
    font-size: 0.9em;
    font-weight: 400;    
}

footer p span {
    color: red;
    font-size: 1.2em;    
}